<!DOCTYPE html>

<html>

<head>
    <title>About</title>
        <link rel="icon" href="/images/weather.png">

    <link rel="stylesheet" href="/css/syle.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
    <img src="./images/pokemon.jpeg" alt="pokemin"/>
    </div>
        {{>footer}}

</body>

</html>